
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: green;
} 




* {
    box-sizing: border-box;
    margin: 0;
}


.background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-image: url(grass-g074f729a3_1280.jpg);
    background-size: cover;
    
}

.background .right {
    
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.background .right .kennels {
    margin-top: 40px;
    height: 25%;
    width: 25%;
    background-image: url(animal-gb3768dd50_1280.png);
    background-size: cover;
    
}

.background .right .sandbox {
    
    width: 80%;
    height: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(sand.jpg);
    background-size: cover;
    border: solid black 20px;

}

.dog {
    height: 25%;
    width: 20%;
    background-image: url(pngwing.com.png);
    background-size: cover;
    margin: 5px;
}

.cat {
    height: 30%;
    width: 20%;
    background-image: url(cat.png);
    background-size: cover;
    margin: 5px;
}

.infoEntry {
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left {
    
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.actions {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    border: solid black 5px;
    width: 50%;
    height: 75%;
    margin-right: 10px;
}

.row {
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    background-color: beige;
    text-align: center;
    font-family: fantasy;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .energy {
    width: 60%;
    height: 10%;
    background-color: red;
    margin-top: 15px;
    font-family: fantasy;
    font-size: 25px;
    text-align: center;

  }

.backgroundForm {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(dogbg.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.infoEntry input{
    background-color: white;
    height: 100px;
    width: 450px;
    font-family: cursive;
    font-size: 30px;
    text-align: center;

}

.bg {
    margin: 0 auto;
    height: 100px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.bg h3 {
    font-family: fantasy;
    color: pink;
    font-size: 35px;
    text-align: center;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.infoEntry button {
    height: 40px;
    width: 200px;
    font-family: fantasy;
    background-color: pink;
    font-size: 22px;
    cursor: pointer;
    margin-top: 15px;

}

h3{
  display: flex;
  align-items: flex-end;
  top: 80%;
}

p{
  display: flex;
  align-items: first baseline;
}

.animalShelter {
  background-image:url("/images/homeless-dogs-in-shelter-cages-3697268-3105786.png");
  width: 545px;
  height: 450px;
  background-size: contain;
  display: flex; 
  position: absolute;
  left: 33%; 
  top: 20%; 
}

.kmss{
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px; 
}

.imageContainer{
  position: absolute;
  top: 500px;
  left: 400px;
  justify-content: center;
  align-content: space-between;
  flex-direction: row;
  display: inline-block;
  padding: 10px;
  top: 85%;
}
